
.nav{

    background-color: black;
    height: 100vh;
}


.logo-image{
    position: absolute;
    top: 0;
    left: 0%;
    background-color: black;
    width: 200px;
    height: 200px;
}

.list-1{
    margin: 5% 5%;
}

.unlist{
    position: relative;
    float: right;
    list-style: none;
    display: flex;
    right: 10%;
  
 
}
ul li{
    margin: 0 5%;
    color: rgb(240, 117, 9);
    transition: 2s;
}
ul li:hover{
    text-decoration: underline;
}


.container-1{
    background-color: black;
  
}


.menu{
    color: rgb(245, 159, 10);
    position: relative;
    display: none;
}
.close{
    position: relative;
    color:  rgb(240, 117, 9);
    float: right;
    display: none;
    
}

.welcome{
    text-align: center;
    color: white;
    align-items: center;
    line-height: 2;
    margin: 0 auto;
}
span{
    color:  rgb(240, 117, 9);
}


.skills{
    text-align: center;
    align-items: center;
    margin: 10% 5%;
    

}
.row .skills-col{
    background-color: rgb(248, 109, 10,0.7);
    margin: 5% 3%;
    border-radius: 10px;
    display: flex;

}
.contact{

align-items: center;
text-align: center;
text-decoration: none;
margin: 5%;

}

.contact a{
    border: solid 1px;
    padding: 3%;
    margin: 3%;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}
.contact a:hover{
    background-color: darkorange;
    color: black;
    transition: 0.5s;
}












@media(max-width:700px){
   
    
    .unlist{
        position: relative;
        float: right;
        list-style: none;
        display: block;
        margin: 1% 2%;
        right: 5px;
        background-color: black;
    }
    ul li{
        margin: 15% 3%;
        padding: 2% 3%;
        color: rgb(240, 117, 9);
    }
    .list-1{
        margin: 2% 5%;
        display: none;
        
    }
    
.menu{
    color: rgb(240, 117, 9);
    position: relative;
    float: right;
    display: block;
    margin:1% 2% 5% 3% ;

}
.close{
    position: relative;
    color:  rgb(240, 117, 9);
    float: right;
    display: block;

}

.row .skills-col{
    background-color: rgb(248, 109, 10,0.7);
    margin: 5% 3%;
    border-radius: 10px;

}
}